@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

/* Main Sections */

body{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
    margin: auto;
}

/* Header Sections */
.header-div{
    display: flex;
    flex-direction: column;


    /* justify-content: center; */
}

.logo-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;

    background-color: lightgray;
    padding-left: 2%;
    align-items: center;
}

/* SideBar/Body Section */

.side-nav-div{

    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: 550px;
    /* background-color: aqua; */
    margin-top: 10px;
    justify-content: space-between; /* To add space between left & right div */
}

/* Inner Div -Left*/
.left-div{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    /* background-color: lightgray; */
    /* justify-content: center; */
}

/* Inner Div -Right*/
.right-div{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;


}

.header-banner-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 150px;
    background-color: lightgray;

    justify-content: center;
    align-items: center;
}

.body-area-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 400px;
    background-color: lightgray;

    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Footer Sections */
.footer-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;

    background-color: lightgray;
    margin-top: 10px;
    padding-left: 2%;
    align-items: center;

    justify-content: center;
    align-items: center;
}