@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* RESET */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}
/* body{
    width: 100%;
    height: 100vh;
} */
.boxe-list{
    height: 400px;
    width:  400px;
    background-color: aquamarine;
    margin: 10% auto;

    display: flex;
    /* flex-direction: column; */
    /* justify-content: center ;
    align-items: center; */
    flex-wrap: wrap;
    align-content: start;
}

.box-1{
    height: 100px;
    width:  100px;
    background-color: purple;
    color: aliceblue;
    border: 4px solid rgb(162, 136, 162);
}
.box-2{
    height: 100px;
    width:  100px;
    background-color: purple;
    color: aliceblue;
    border: 4px solid rgb(162, 136, 162);
}
.box-3{
    height: 100px;
    width:  100px;
    background-color: purple;
    color: aliceblue;
    border: 4px solid rgb(162, 136, 162);

    /* align-self: start;
    margin-left: auto; */
}

.box-4{
    height: 100px;
    width:  100px;
    background-color: purple;
    color: aliceblue;
    border: 4px solid rgb(162, 136, 162);
}
.box-5{
    height: 100px;
    width:  100px;
    background-color: purple;
    color: aliceblue;
    border: 4px solid rgb(162, 136, 162);
}